section{
	border-top: 1px solid #ccc;
	}

.quote{
	border-left: 3px solid black;
	}

.grid-functions div{
	border-left: 1px solid black;
	border-top: 1px solid black;
	}

.grid-functions div:nth-child(3),
.grid-functions div:nth-child(6){
	border-right: 1px solid black;
	}

.grid-functions div:nth-child(4),
.grid-functions div:nth-child(5),
.grid-functions div:nth-child(6){
	border-bottom: 1px solid black;
	}