body {
  counter-reset: section figure;
	}

.figcaption:before{
	counter-increment: figure;
	font-weight: 600;
	content: "[Fig. " counter(figure) "] " ;
	margin: 0 6px 0 0;
	/*display: inline-block;*/
	}

.figcaption:before{
	counter-increment: figure;
	font-weight: 600;
	content: "Fig." counter(figure);
	margin: 0 6px 0 0;
	/*display: inline-block;*/
	}

/*.figcaption{*/
	/*display: inline;*/
/*}*/

.chapter{
	display: block;
	text-align: center;
	/*margin-top: -36px;*/
	/*margin-bottom: 20px;*/
	}

.chapter.hr{
	overflow: visible;
	background: url("hr.svg") repeat-x center center transparent;	
	/*height: 5px;*/
}

.chapter label{
	background: white;
	border-radius: 50%;
	/*border: 1px solid grey;*/
	/*padding: 6px 8px 4px 8px;*/
	padding: 12px 8px 10px 8px;

}

.chapter label.numbered:before{
	counter-increment: section;
	content: counter(section);
	/*background: white;*/
	/*background: white;*/
	padding: 8px;
	border-radius: 50%;
}

.chapter label.numbered.knockout{
	background: #c7d8d9;
}




.ref{
	color: red;
	font-size: 12px;
	padding: 0 0 8px 0;
	margin-top: -10px;
}