body {
  counter-reset: section figure;
	}

.figcaption:before{
	counter-increment: figure;
	font-weight: 600;
	content: "[Fig. " counter(figure) "] " ;
	margin: 0 6px 0 0;
	display: inline-block;
	}

.figcaption{
	display: inline;
}

.chapter{
	display: block;
	text-align: center;
	margin-bottom: 20px;
	/*margin-bottom: 15px;*/
	overflow: visible;
	background: url("hr.svg") repeat-x center center grey;	
	}

.chapter label{
	background: white;
	padding: 6px 8px 4px 8px;

}

.chapter label.numbered:before{
	counter-increment: section;
	content: counter(section);
	/*background: white;*/
	/*padding: 6px 8px 4px 8px;*/
}

.ref{
	color: red;
	font-size: 12px;
	padding: 0 0 8px 0;
	margin-top: -10px;
}