img.max{
	max-width: 100%;
}

img.round{
	border-radius: 10px;
}

img.border{
	border: 1px solid rgba(0,0,0,0.2);
}

img.snva{
	width: 300px;
	margin: auto;
	margin: 50px 0 0 0;
	text-align: center;
}

.function-label img{
	width: 30px;
	margin-top: 10px;
}