h1, h2, h3, h4, h5,
p, small,
dl, dt, dd,
figure, figcaption,
blockquote, cite,
ul, li{
	margin: 0;
	padding: 0; 
	}

cite,
figcaption
{
	display: block;
}

body{
	padding: 30px;
	}

main{
	max-width: 700px;
	margin: auto;
	}

blockquote{
	padding-left: 15px;
	}

cite{
	font-size: 16px;
}