h1, h2, h3, h4, h5,
p, small,
dl, dt, dd,
figure, figcaption,
blockquote, cite,
ul, li{
	margin: 0;
	padding: 0; 
	}

body{
	padding: 0 30px;
	}

header{
	width: 100%;
	/*background: pink;*/
}
/*section{*/
	/*border-top: 1px solid #ccc;*/
	/*}*/

.wrap{
	max-width: 700px;
	margin: auto;
	}

.citation,
.figcaption{
	display: block;
}

.quote{
	padding-left: 15px;
	}