h1, h2, h3, h4, h5,
p, small,
dl, dt, dd,
figure, figcaption,
blockquote, cite,
ul, ol, li{
	margin: 0;
	padding: 0; 
	}

header{
	width: 100%;
}

.wrap{
	max-width: 700px;
	margin: auto;
	}

.citation,
.figcaption{
	display: block;
}

.footer{
	background: #eee;
	padding: 40px 0 80px 0;

}
.footer li{
	line-height: 22px;
}

.grey{
	background: #eee;
}
.quote{
	padding-left: 15px;
	}

.functions div{
	position: relative;
}

.functions div .h4{
	padding: 8px 0 10px 0; 
}

.functions div p{
	margin: 0;
	padding: 20px 0 60px 0; 
}

.functions div label{
	position: absolute;
	bottom: 0;
	margin: 20px 0 20px 0;

}