

.h1, .h2, .h3, .h4, .h5, .h6, .para, .list{
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	line-height: 1.35em;
	}

.h3{
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	line-height: 1.35em;
	}

.small, 
.definitions, 
.citation, 
.figcaption{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 1.45em;
	}

.quote{
	font-family: 'Libre Baskerville', serif;
	font-size: 22px;
	line-height: 34px;
	font-weight: 500;
	}

.h1, .h2, .h3, .h4, .h5{
	text-align: center;
	}

.h1, .h2, .h3, .h4, .h5{
	font-weight: 600;
	}

.definitions dt{
	font-weight: 600;
	}


ul.columns{
	list-style: none;
	columns: 3;
}