.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.para,
.list,
.functions,
.citation, 
.definitions, 
.figcaption,
.label,
.small,
.footer{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	}


.list,
.para{
	font-size: 18px;
	line-height: 1.5em;
	}

.h3, .h5{
	font-size: 18px;
	line-height: 1.5em;
	}


.h1 {
  font-size: 26px;
  line-height: 36px;
}

.functions,
.citation, 
.definitions, 
.label,
.small,
.footer,
.h2{
	font-size: 14px;
	line-height: 1.45em;
	}


.figcaption{
	font-size: 13px;
	line-height: 17px;

	}

.h3{
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	line-height: 1.35em;
	}

.quote{
	font-family: 'Libre Baskerville', 'Georgia', serif;
	font-size: 22px;
	line-height: 34px;
	font-weight: 500;
	border-left: 3px solid black;
	}

.h1, .h2, .h3, .h4, .h5{
	text-align: center;
	}

.h1, .h2, .h3, .h4, .h5{
	font-weight: 600;
	}
.citation{
	font-weight: 500;
}

.definitions dt{
	font-weight: 600;
	}

sup{
	font-size: 10px;
	display: inline;
	margin-left: 5px;
}

.columns{
	list-style: none;
	columns: 2;
	width: 100%;
}

.byline{
	margin: 90px 0 10px 0;
}

.header{
	margin: 30px 0;
	/*background: pink;*/
	} 



.contents ol.list{
	/*background: yellow;*/
	/*color: black;*/
	font-size: 15px;
	line-height: 25px;

}

.contents ol.list a{
	/*background: yellow;*/
	color: black;
}


a.index{
	text-decoration: none;
	color: grey;
}

